.blog-sec {
    padding-top: 180px;
    padding-bottom: 50px;
}

.blog-sec__wrapper {
    margin: 0 auto;
    width: calc(100% - 80px);
}

.blog-sec__title {
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    color: #373737;
    line-height: 1;
    letter-spacing: -1px;
    margin-bottom: 40px;
}

.blog-sec__nav-list {
    display: flex;
}

.blog-sec__nav-list-element {
    margin-right: 10px;
}

.blog-sec__nav-link {
    display: inline-block;
    border-radius: 100px;
    padding: 5px 10px;
    background: #EDEFF4;
    color: #373737;
    font-size: 13px;
    font-weight: 600;
}

.blog-sec__nav-link--activ {
    background: $green1;
    color: #fff;
}

.blog-sec__nav {
    margin-bottom: 50px;
}

.blog-sec__post-container {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 30px);
    margin-left: -15px;
}

.blog-sec__post {
    width: calc(33.333% - 30px);
    margin: 0 15px 40px 15px;
}

.post-element__img-wrapper {
    display: block;
    width: 100%;
    height: 370px;
    border-radius: 10px;
    overflow: hidden;

    &:hover {
        .post-element__img {
            transform: scale(1.05);
            transition: all ease 0.3s;
        }
    }
}

.post-element__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: all ease 0.3s;
}

.post-element__title {
    margin-top: 35px;
    font-weight: 700;
    font-size: 18px;

    a {
        color: #373737;
    }
}

.post-element__date {
    font-size: 16px;
    color: #888888;
    font-weight: 700;
    margin-top: 5px;
}

.blog-sec__load-more-row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.blog-sec__load-more-btn {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    border-radius: 100px;
    padding: 20px 30px;
    border: none;
    background: $green1;
}

.blog-sec__body-pagination-row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__num-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__nam-li {

    margin: 0 5px;

    a {
        color: #373737;
        width: 40px;
        height: 40px;
        border-radius: 100px;
        background: #f0f0f0;
        font-weight: 700;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.pagination__nam-li--activ {


    a {
        color: #fff;
        background: $green1;
    }
}

.pagination__btn {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background: #f0f0f0;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;

    svg {
        display: block;
    }
}

@media only screen and (max-width: 1200px) {
    .blog-sec__title {
        font-size: 36px;
    }

    .blog-sec__nav-list {
        justify-content: center;
        flex-wrap: wrap;
    }

    .blog-sec__post {
        width: calc(50% - 30px);
        margin: 0 15px 40px 15px;
    }

    .blog-sec__wrapper {
        width: 900px;
    }

    .post-element__img-wrapper {
        height: 320px;
    }

    .post-element__title {
        margin-top: 20px;
    }
}


@media only screen and (max-width: 950px) {
    .blog-sec__wrapper {
        width: 750px;
    }
}

@media only screen and (max-width: 760px) {
    .blog-sec__wrapper {
        width: 350px;
    }

    .blog-sec {
        padding-top: 120px;
    }

    .blog-sec__title {
        font-size: 27px;
        margin-bottom: 30px;
    }

    .blog-sec__nav-list-element {
        margin: 0 5px 10px 5px;
    }

    .blog-sec__nav {
        margin-bottom: 20px;
    }

    .blog-sec__post-container {
        width: 100%;
        margin: 0;
    }

    .post-element {
        margin: 0;
        width: 100%;
        margin-bottom: 30px;
    }

    .post-element__img-wrapper {
        height: 260px;
    }

    .post-element__title {
        font-size: 16px;
        margin-top: 10px;
    }

    .post-element__date {
        font-size: 14px;
    }

    .blog-sec__load-more-btn {
        padding: 15px 30px;
        line-height: 1;
        width: 100%;
    }

    .blog-sec__load-more-row {
        padding-top: 15px;
    }
}