.btn-v1 {
    border-radius: 100px;
    border: solid 1px $green1;
    padding: 10px 30px 10px 50px;
    position: relative;
    color: #373737;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 2em;
    /* 18px */
    letter-spacing: -0.72px;
    display: inline-flex;
    align-items: center;
    background: none;
    transition: all ease 0.3s;

    &::before {
        width: 10px;
        height: 10px;
        left: 30px;
        border-radius: 100px;
        background: $green1;
        content: "";
        transition: all ease 0.3s;
        position: absolute;

    }

    &:hover {
        padding-right: 25px;
        transition: all ease 0.3s;

        &::before {
            background: red;
            transition: all ease 0.3s;
        }
    }
}


.btn-v2 {
    border: solid 1px $green1;
    border-radius: 10px;
    padding: 17px 22px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    /* 250% */
    letter-spacing: -0.8px;
    background: none;
    color: #fff;
    transition: all ease 0.3s;

    &:hover {
        background: $green1;
        color: #000;
        transition: all ease 0.3s;
    }
}