.btnV1 {
    color: #121926;
    border: 1px solid #80EAAF;
    background: #80EAAF;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    padding: 12px 20px;
    border-radius: 100px;
    display: inline-block;
    cursor: pointer;
}

@media only screen and (max-width: 750px) {
    .btnV1 {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}