.footer {
    background: #FFFFFF;
}

.footer__top {
    padding-top: 64px;
    padding-bottom: 48px;

    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.footer__top-info {
    width: 404px;
}

.footer__logo {
    display: block;
    width: 177.5px;
}

.footer__logo-img {
    width: 100%;
    display: block;
}

.footer__info-text {
    margin-top: 32px;
    color: #697586;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    white-space: break-lines;
}

.footer__top-nav-list {
    // columns: 2;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

.footer__top-nav-list-element {
    width: 50%;
    padding-bottom: 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.footer__nav-element-link--second {
    margin-left: 5px;
}

.footer__nav-element-link {
    color: #4B5565;
}

.footer__developer-row {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.footer__developer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    svg {
        margin: 0 auto;
    }
}

.footer__developer-text {
    width: 100%;
    text-align: center;
    color: #697586;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    margin-top: 16px;
}

.footer__down {

    .container {
        padding: 48px 0;
        border-top: 3.75px solid #EEF2F6;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.footer__copy {
    max-width: 600px;
    color: #697586;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
}

@media only screen and (max-width: 1250px) {
    .footer__top-info {
        width: 241px;
    }

}

@media only screen and (max-width: 750px) {
    .footer__top {
        padding: 48px 0;
    }

    .footer__logo {
        width: 142px;
    }

    .footer__top-info {
        width: 100%;
    }

    .footer__info-text {
        margin-top: 24px;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
    }

    .footer__top-nav {
        width: 100%;
        margin-top: 48px;
    }

    .footer__top-nav-list {
        width: 100%;
    }

    .footer__top-nav-list-element {
        padding-bottom: 12px;
    }

    .footer__developer-row {
        margin-top: 40px;
    }

    .footer__down .container {
        flex-wrap: wrap;
        padding: 28px 0;
        padding-bottom: 48px;
    }

    .footer__copy {
        width: 100%;
        order: 2;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 18px;
        margin-top: 24px;
    }

}