.footer {
    height: 715px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 50px;
}

.footer__container {
    width: calc(100% - 80px);
    margin: 0 auto;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.footer__down-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__copy {
    color: rgba(104, 103, 103, 0.42);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 122.101%;
    /* 18.315px */
    letter-spacing: -0.45px;
}

.footer__nav-ul {
    display: flex;
}

.footer__nav-li {
    margin-left: 16px;
}

.footer__nav-link {
    color: rgba(104, 103, 103, 0.42);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 122.101%;
    /* 18.315px */
    letter-spacing: -0.45px;
    transition: all ease 0.3s;

    &:hover {
        color: rgba(104, 103, 103, 1);
        transition: all ease 0.3s;
    }
}

.footer__middle-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 60px;
}

.footer__middle-row-nav-li {
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    /* 36.63px */
    letter-spacing: -0.6px;
    margin-top: 20px;
    display: block;

    a {
        color: $green1;
        display: inline-block;
        transition: all ease 0.3s;

        &:hover {
            color: #373737;
            transition: all ease 0.3s;
        }
    }
}

.footer__social-element {
    width: 35px;
    margin-top: 15px;
    transition: all ease 0.3s;

    &:hover {
        transform: scale(1.1);
        transition: all ease 0.3s;
    }
}

.footer__social-link {
    display: block;
    width: 100%;

}


.footer__social-element-img {
    width: 100%;
    display: block;
}

.footer__logo-wrapper {
    position: absolute;
    z-index: 10;
    top: 50px;
    transform: scale(0.9);
    transition: all ease 0.5s;
}

.footer__logo-wrapper-logo {
    color: rgba(55, 55, 55, 0.10);

    text-align: center;
    font-family: $logoFont;
    font-size: 500px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    /* 610.506px */
    letter-spacing: -40px;

}

.footer__logo-wrapper-ar {
    position: absolute;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: $green1;
    top: 55px;
    left: 15px;

    svg {
        display: block;
        transition: all ease 0.3s;
    }

    &:hover {
        svg {
            transform: rotate(65deg);
            transition: all ease 0.3s;
        }
    }
}

.footer__logo-wrapper-email {
    position: absolute;
    z-index: 10;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 122.101%;
    /* 30.525px */
    letter-spacing: -0.5px;
    color: $green1;
    transition: all ease 0.3s;
    bottom: -35px;
    right: 175px;

    &:hover {
        color: #373737;
        transition: all ease 0.3s;
    }
}

.footer-100vh {
    position: absolute;
    width: 100%;
    height: 100vh;
    opacity: 0;
    width: 1px;
    z-index: -100;
    pointer-events: none;
}

.footer-service-nav-element {
    position: relative;
}

.footer-sub-meny {
    left: 0;
    top: auto;
    bottom: 30px;

    .header__sub-meny-link {
        display: flex;
    }
}





@media only screen and (max-width: 1200px) {
    .footer__container {
        width: 900px;
    }

    .footer__logo-wrapper-logo {
        font-size: 300px;
        letter-spacing: 0px;
    }

    .footer__logo-wrapper-email {
        bottom: -23px;
        right: 134px;
        font-size: 20px;
    }

    .footer__logo-wrapper-ar {
        width: 54px;
        height: 54px;
        top: 33px;
        left: 10px;

        svg {
            width: 30px;
        }
    }

    .footer__middle-row {
        margin-bottom: 30px;
    }

    .footer__social {
        display: flex;
    }

    .footer__social-element {
        margin-top: 0;
        margin-left: 15px;
    }

    .footer__middle-row-nav-li {
        font-size: 25px;
    }

    .footer {
        padding-bottom: 30px;
        height: 550px;
    }
}


@media only screen and (max-width: 950px) {
    .footer__container {
        width: 750px;
    }
}

@media only screen and (max-width: 760px) {
    .footer__container {
        width: 350px;
    }

    .footer__down-row {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__copy {
        width: 100%;
        text-align: center;
        order: 2;
    }

    .footer__nav-ul {
        flex-wrap: wrap;
        margin-bottom: 0px;
    }

    .footer__nav-li {
        width: 100%;
        margin: 0 0 10px 0;
        text-align: center;
    }

    .footer {
        height: 460px;
    }

    .footer__middle-row {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 50px;
    }

    .footer__middle-row-col {
        width: 100%;
    }

    .footer__middle-row-col {
        width: 100%;
    }

    .footer__social {
        width: 100%;
        justify-content: center;
    }

    .footer__social-element {
        margin: 0 8px;
        width: 30px;
    }

    // .footer__middle-row-nav-ul {
    //     display: flex;
    //     justify-content: space-around;
    // }

    .footer__middle-row-nav {
        margin-bottom: 0px;
        padding-bottom: 310px;
    }

    .footer__logo-wrapper {
        top: auto;
        bottom: 280px;
    }

    .footer__logo-wrapper-logo {
        font-size: 186px;
        letter-spacing: -10px;
    }

    .footer__logo-wrapper-email {
        bottom: -11px;
        right: 70px;
        font-size: 18px;
    }

    .footer__logo-wrapper-ar {
        width: 35px;
        top: 19px;
        left: 5px;
        height: 35px;


        svg {
            width: 15px;
        }
    }

    .footer__logo-wrapper-email {
        display: none;
    }

    // .footer__middle-row-nav-li {
    //     font-size: 20px;
    //     margin-top: 0;
    // }

    .footer {
        height: auto;
    }
}