.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    padding-top: 34px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 10;
    }

    .header__download-ios-wrapper {
        max-width: 0;
        overflow: hidden;
        transition: all ease 0.3s;
    }
}



.header__logo-wrapper {
    width: 195px;
}

.header__logo {
    display: block;
    width: 100%;
    display: block;
    transition: all ease 0.3s;
}

.header__logo-img {
    display: block;
    width: 100%;
}

.header__burger-wrapper {
    width: 195px;
}

.header__nav-wrapper {
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 100px;
    padding-left: 26px;
    padding-right: 8px;
    padding-bottom: 0px;
    transition: all ease 0.3s;
}

.header__nav-list {
    display: flex;
}


.header__download-ios {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    background: #000;
    border-radius: 100px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: #fff;
    padding: 10px 20px 10px 12px;

    svg {
        margin-right: 8px;
    }

}

.header__nav-element-link {
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    color: #4B5565;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    // border-bottom: 4px solid #fff;
    transition: all ease 0.3s;
    position: relative;

    &::before {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        background: #fff;
        content: "";
        transition: all ease 0.3s;
    }

    &:hover {
        &::before {
            background: #C9C9C9;
        }
    }
}

.header__nav-list {
    .router-link-active {
        // border-bottom: 4px solid #80EAAF;
        background: #F8FAFC;
        color: #121926;

        &::before {
            background: #80EAAF;
        }
    }
}

.header__nav-logo {
    max-width: 0;
    overflow: hidden;
    transition: all ease 0.3s;
    border-radius: 22px;
    width: 54px;
    height: 54px;

    svg {
        display: block;
    }

    &:hover {
        background: #EDEFF1;
        transition: all ease 0.3s;
    }
}

.header_active {
    .header__nav-wrapper {
        padding-left: 0;
    }

    .header__download-ios-wrapper {
        max-width: 150px;
        margin-left: 16px;
    }

    .header__logo {
        opacity: 0;
        // pointer-events: none;
    }

    .header__nav-logo {
        max-width: 54px;
        margin-left: 8px;
    }
}

.header-for-all-pages {
    .header__download-ios-wrapper {
        max-width: 150px;
        margin-left: 16px;
    }
}

.burger-meny {
    display: none;
}

.header__mob-meny {
    display: none;
    pointer-events: none;
}






@media only screen and (max-width: 1250px) {
    .header {
        padding-top: 20px;
    }

    .header__nav-wrapper {
        display: none;
    }

    .header__burger-wrapper {
        width: auto;
    }

    .header_active {
        .header__logo {
            opacity: 1;
        }
    }

    .header__logo-wrapper {
        width: 142px;
    }

    .burger-meny {
        width: 20px;
        height: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;
    }

    .burger-meny__line {
        width: 20px;
        height: 2px;
        background: #364152;
        position: absolute;
        display: block;
        transition: all ease 0.3s;
    }

    .bml-1 {
        top: 0;
    }

    .bml-3 {
        bottom: 0;
    }

    .header_mob-meny-active {
        .bml-1 {
            transform: rotate(45deg);
            top: auto;
        }

        .bml-2 {
            opacity: 0;
        }

        .bml-3 {
            transform: rotate(-45deg);
            bottom: auto;
        }

        .header__mob-meny {
            transform: translateY(0);
            pointer-events: all;
        }
    }

    .header__mob-meny {
        display: block;
        position: fixed;
        width: 100%;
        // height: 100vh;
        height: 100vh;
        left: 0;
        top: 0;
        background: #F1F3F6;
        z-index: 5;
        transition: all ease 0.8s;
        transform: translateY(-120%);
        overflow: hidden;
    }

    .mob-meny__wrapper {
        background: #fff;
        padding-top: 120px;
    }

    .mob-meny__download-wrapper {
        border-top: 1px solid #E3E8EF;
        padding: 24px 0;

        .header__download-ios {
            width: 100%;
        }

    }

    .mob-meny__nav-list {
        width: 100%;
    }

    .mob-meny__nav-list-element-link {
        padding: 20px 0;
        display: block;
        position: relative;
        color: #4B5565;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;

        &::before {
            width: 2000px;
            left: -750px;
            top: 0;
            content: "";
            position: absolute;
            background: #fff;
            height: 100%;
            z-index: -1;
        }

        &::after {
            position: fixed;
            right: 0;
            content: "";
            width: 4px;
            height: 64px;
            margin-top: -19px;
            background: #fff;
        }
    }

    .mob-meny__nav {
        .router-link-active {


            &::before {
                background: #F8FAFC;
            }

            &::after {
                background: #80EAAF;
            }
        }
    }

    .mob-meny__lang-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        background: #fff;
        width: 100%;
    }

    .mob-meny__lang-header-title {
        display: flex;
        align-items: center;
        color: #4B5565;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;

        svg {
            margin-right: 16px;
        }
    }

    .mob-meny__lang {
        width: 100%;
        padding-bottom: 48px;
    }

    .mob-meny__lang-list {
        background: #F8FAFC;
        border-radius: 16px;
        padding: 7px 20px;
    }

    .mob-meny__lang-list-element {
        padding: 9px 0;
        color: #121926;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }

}

@media only screen and (max-width: 750px) {
    .header {
        padding-top: 16px;
    }
}