.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    padding-top: 10px;
}

.header-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 80px);
    padding: 10px;
    border-radius: 100px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.05);
}

.header__logo {
    display: block;
    width: 94px;
}

.header__logo-img {
    width: 100%;
    display: block;
}

.header__right {
    width: calc(59% - 47px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__nav {
    width: calc(59% - 47px);
}

.header__list {
    display: flex;
}

.header__list-element {
    margin-right: 50px;
}

.header__list-element-link {
    display: block;
    overflow: hidden;
    height: 18px;

    &:hover {
        .header__list-element-link-col {
            transform: translateY(-22px);
            transition: all ease 0.3s;
        }
    }
}

.header__list-element-link-text {
    display: block;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 18px */
    letter-spacing: -0.72px;
    color: #000;

}

.header__list-element-link-col {
    transition: all ease 0.3s;


}