.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    padding-top: 10px;
}

.header.is-active {
    .header__btn {
        color: #fff;
    }

    .header__list-element-link-text {
        color: #fff;
    }

    .header__logo-title {
        color: #fff;
    }
}

.header-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 80px);
    padding: 10px;
    border-radius: 100px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.05);
    flex-wrap: wrap;
    transition: all ease 0.3s;
    position: relative;
    z-index: 10;
}

.header__logo {
    display: block;
    width: 94px;
}

.header__logo-img {
    width: 100%;
    display: block;
}

.header__right {
    width: calc(59% - 47px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__nav {
    width: calc(59% - 47px);
    padding-left: 20px;
}

.header__list {
    display: flex;
}

.header__list-element {
    margin-right: 50px;
}

.header__list-element-link {
    display: block;
    overflow: hidden;
    height: 18px;

    &:hover {
        .header__list-element-link-col {
            transform: translateY(-22px);
            transition: all ease 0.3s;
        }
    }
}

.header__list-element-link-text {
    display: block;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 18px */
    letter-spacing: -0.72px;
    color: #000;
    transition: all ease 0.3s;

}

.header__list-element-link-col {
    transition: all ease 0.3s;
}

.header__logo-title {
    color: #373737;
    text-align: center;
    font-family: $logoFont;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 122.101%;
    /* 61.051px */
    transition: all ease 0.3s;
    letter-spacing: -4px;
}

.header__list-element--has-children {
    position: relative;
}

.header__sub-meny {
    position: absolute;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
    will-change: transform;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1px 10px 20px 0px;
    padding: 20px 20px 20px 20px;
    width: 335px;
    left: 40px;
    transition: all ease 0.5s;
    transform: scale(0);
    opacity: 0;
    pointer-events: none;
    z-index: 10;
}

.header__sub-meny--activ {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

.header__sub-meny-ul {
    position: relative;
}

.header__sub-meny-link {
    display: flex;
    align-items: center;
    transition: all ease 0.3s;

    &:hover {
        transform: translateX(5px);
        transition: all ease 0.3s;
    }
}

.header__sub-meny-link-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    width: 30px;
    height: 30px;
    border-radius: 4px;

    svg {
        display: block;
        width: 22px;
        height: auto;


    }
}

.header__sub-meny-link-text {
    display: block;
    width: calc(100% - 30px);
    padding-left: 10px;
}

.header__sub-meny-link-text-title {
    font-size: 15px;
    color: $green1;
    font-weight: 600;
    display: block;
}

.header__sub-meny-link-text-subtitle {
    display: block;
    font-size: 10px;
    color: #fff;
}

.header__sub-meny-li {
    display: block;
    margin-bottom: 5px;

    &:last-child {
        margin-bottom: 0;
    }
}

.header-container__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.burger {
    display: none;
}

.moob-sub-meny {
    display: none;
}

.header__btn-mob {
    display: none;
}







@media only screen and (max-width: 1200px) {
    .header__nav {
        display: none;
    }

    .burger {
        width: 39px;
        height: 39px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
        position: relative;
    }

    .burger__line {
        width: 39px;
        height: 5px;
        border-radius: 10px;
        background: $green1;
        position: absolute;
        display: block;
        transition: all ease 0.3s;
    }

    .burger__line--v1 {
        top: 10px;
    }

    .burger__line--v2 {
        bottom: 10px;
    }

    .header-container {
        border-radius: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .moob-sub-meny__li-link {
        font-size: 25px;
        color: #fff;
        font-weight: 800;
        line-height: 1;
        display: block;
    }

    .moob-sub-meny__li {
        margin-bottom: 20px;
        line-height: 1;
        display: block;
    }

    .moob-sub-meny__sub-meny {
        margin-top: 15px;
    }

    .moob-sub-meny__social {
        padding-top: 15px;
    }

    .moob-sub-meny__social-li {
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 5px;

        a {
            color: rgba(255, 255, 255, 0.5);
        }
    }

    .moob-sub-meny {
        display: block;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        padding: 0;
        transition: all ease 0.6s;
    }

    .headerMobMenyActiv {
        background: rgba(0, 0, 0, 0.5);

        .burger__line--v1 {
            transform: rotate(45deg);
            top: auto;
        }

        .burger__line--v2 {
            transform: rotate(-45deg);
            bottom: auto;
        }

        .moob-sub-meny {
            max-height: 500px;
            opacity: 1;
            padding-top: 70px;
            padding-bottom: 35px;
        }

        .btn-v1 {
            color: #fff;
        }

        .header__logo-title {
            color: #fff;
        }
    }

    .moob-sub-meny__sub-meny {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all ease 0.5s;
        margin-top: 0;
    }

    .moob-sub-meny__sub-meny--activ {
        max-height: 200px;
        opacity: 1;
        margin-top: 15px;

    }

    .moob-sub-meny__li-link--parent {
        .moob-sub-meny__li-link {
            position: relative;
            display: inline-flex;
            align-items: center;

            &::before {
                width: 24px;
                height: 24px;
                position: absolute;
                content: "";
                background: url('../images/icons/ar.svg');
                background-size: cover;
                background-position: center;
                right: -30px;
                transition: all ease 0.3s;
            }
        }
    }

    .moob-sub-meny__parent--activ {
        .moob-sub-meny__li-link {
            &::before {
                transform: rotate(180deg);
                transition: all ease 0.3s;
            }
        }
    }

    .header-container {
        width: 900px;
    }
}


@media only screen and (max-width: 950px) {
    .header-container {
        width: 750px;
    }
}

@media only screen and (max-width: 760px) {
    .header-container {
        padding: 5px 15px;
        width: calc(100% - 10px);
    }

    .header__btn {
        display: none;
    }

    .header__logo-title {
        font-size: 50px;
        letter-spacing: -0.08em;

    }

    .moob-sub-meny__li-link {
        font-size: 25px;
    }

    .moob-sub-meny {
        width: 100%;

    }

    .headerMobMenyActiv {

        border-radius: 10px;

        .moob-sub-meny {
            padding-top: 40px;
            padding-bottom: 20px;
            max-height: 550px;
        }
    }

    .header__btn-mob {
        display: block;
        width: 100%;
        line-height: 1;
        font-size: 15px;
        padding: 15px 0;
        font-weight: 600;
        letter-spacing: 0;
        margin-top: 40px;

        &::before {
            top: 18px;
            left: 70px;
        }
    }

    .header__sub-meny-link-icon-wrapper {
        svg {
            width: 20px;
        }
    }
}