.system-page-sec {
    padding-top: 150px;

}

.system-page-sec__container {
    width: 1500px;
    margin: 0 auto;
}

.system-page-sec__title {
    font-size: 22px;
    margin-bottom: 30px;
    font-weight: 800;
}

.wp-editor {
    p {
        font-size: 16px;
        margin-bottom: 30px;
        line-height: 1.4;
        color: #171717;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: 800px;
        color: #171717;
    }

    ul {
        padding-left: 20px;
        margin-bottom: 30px;

        li {
            list-style-type: disc;
            font-size: 16px;
            margin-bottom: 15px;
            color: #171717;
        }
    }

    ol {
        padding-left: 20px;
        margin-bottom: 30px;

        li {
            list-style-type: decimal;
            font-size: 16px;
            margin-bottom: 15px;
            color: #171717;
        }
    }
}

@media only screen and (max-width: 1560px) {
    .system-page-sec__container {
        width: calc(100% - 80px);
    }
}

@media only screen and (max-width: 1200px) {
    .system-page-sec__container {
        width: 900px
    }
}

@media only screen and (max-width: 950px) {
    .system-page-sec__container {
        width: 750px
    }
}

@media only screen and (max-width: 760px) {
    .system-page-sec__container {
        width: 350px
    }

    .system-page-sec {
        padding-top: 120px;
    }

    .system-page-sec__title {
        line-height: 1.2;
    }
}