.vk-hero-sec__img-wrapper {
    width: calc(100% - 120px - 120px - 100px);
}

.vk-hero-sec__img {
    max-width: 980px;
    max-height: 100%;
}

.tgads-hero-sec--vk_subtitle {
    color: rgba(171, 171, 171, 0.57);
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 50px;
    /* 166.667% */
    letter-spacing: -1.2px;
}

.tgads-watch-sec--vk {
    opacity: 1;
    border-radius: 30px;

    .tgads-watch-sec__title {
        background: none;
        color: #fff;
        background-clip: border-box;
        -webkit-background-clip: border-box;
        -webkit-text-fill-color: initial
    }

    .tgads-watch-sec__img-wrapper {
        width: 690px;
    }

    .tgads-watch-sec__down-row .direct-direction-sec__down-el:nth-child(3) {
        border-right: none;
    }
}


.vkads-benefits-sec {
    padding: 160px 0;
    padding-bottom: 200px;
    overflow: hidden;
}

.tgads-hero-sec__title-blue {
    color: rgb(2, 119, 255);
}

.vkads-benefits-sec__container {
    width: 1170px;
    margin: 0 auto;
}

.vkads-benefits-sec__claster {
    position: relative;
}

.vkads-benefits-sec__wrapper {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 520px;
    border-radius: 20px;
    background: #F4F5F8;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
}

.vkads-benefits-sec__img-element {
    position: absolute;
    border-radius: 10px;
    background: #F1F1F1;
    width: 170px;
    padding: 10px;
}

.vkads-benefits-sec__img-element-header {
    display: flex;
    align-items: center;
}

.vkads-benefits-sec__img-element-header-circle {
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 100px;
}

.vkads-benefits-sec__img-element-header-title {
    width: calc(100% - 25px);
    padding-left: 10px;
    color: #373737;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    /* 150% */
    letter-spacing: -0.4px;
}

.vkads-benefits-sec__img-element-body {
    position: relative;
    width: 100%;
    height: 110px;
    border-radius: 10px;
    margin-top: 10px;
    overflow: hidden;
}

.vkads-benefits-sec__img-element-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.vkads-benefits-sec__img-like {
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 0;
    display: block;
}

.vkads-benefits-sec__img-element--v1 {
    z-index: 3;
    left: -90px;
    top: -64px;
}

.vkads-benefits-sec__img-element--v2 {
    z-index: 1;
    left: 487px;
    top: -150px;
}

.vkads-benefits-sec__img-element--v3 {
    z-index: 1;
    left: 30px;
    bottom: -135px;
}

.vkads-benefits-sec__img-element--v4 {
    bottom: -82px;
    right: -90px;
    z-index: 3;
}


.vkads-benefits-sec__logo {
    width: 90px;
    height: 90px;
    border-radius: 100px;
    overflow: hidden;
    position: relative;
    z-index: 10;
}

.vkads-benefits-sec__bg-line {
    position: absolute;
    top: 108px;
    left: 356px;

    svg {
        display: block;
    }
}

.vkads-benefits-sec__logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.vkads-benefits-sec__info {
    position: absolute;
    background: #0277FF;
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    letter-spacing: -0.04em;
    font-size: 14px;
    color: #fff;
    z-index: 10;
}

.vkads-benefits-sec__info--v1 {
    bottom: 84px;
    left: 180px;
}

.vkads-benefits-sec__info--v2 {
    right: 320px;
    bottom: -10px;
}

.vkads-benefits-sec__info--v3 {
    top: 20px;
    right: 60px;
    width: 250px;
}

.vkads-make-all-sec {
    padding-bottom: 180px;
}

.vkads-make-all-sec__container {
    margin: 0 auto;

    width: 1024px;
}

.vkads-make-all-sec__top-row {
    width: 800px;
    height: 1px;
    margin: 0 auto;
    margin-bottom: 30px;
    background: linear-gradient(90deg, rgba(135, 135, 135, 0.00) 0%, #CFCFCF 50.18%, rgba(110, 110, 110, 0.00) 100%);
}

.vkads-make-all-sec__title {
    text-align: center;
    width: 100%;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: 40px;
    /* 88.889% */
    letter-spacing: -1.8px;
    color: #373737;




}

.vkads-make-all-sec__title-img {
    display: inline-flex;
    position: relative;
    width: 110px;
    height: 30px;
    margin: 0 5px;

    img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        overflow: hidden;
    }

    &::before {
        width: 10px;
        height: 10px;
        background: $green1;
        position: absolute;
        z-index: 2;
        right: 0;
        top: 0;
        content: "";
        border-radius: 100px;
    }
}

.vkads-make-all-sec__subtitle {
    margin-top: 15px;
    color: rgba(171, 171, 171, 0.57);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 1;
    /* 250% */
    letter-spacing: -0.8px;
}

.vkads-make-all-sec__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    height: 468px;
    align-items: flex-start;
}

.vkads-make-all-sec__col-1 {
    width: 156px;
    height: 100%;
}

.vkads-make-all-sec__humans-wrapper {
    width: 100%;
    background: #303030;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 20px;
    height: 100%;

}

.vkads-make-all-sec__human {
    width: 90px;
    height: 90px;
    object-fit: cover;
    display: block;
    border-radius: 100px;
    margin-top: -6px;

    &:first-child {
        margin-top: 0;
    }
}

.vkads-make-all-sec__col-2 {
    width: 325px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vkads-make-all-sec__diagram-box {
    width: 100%;
    height: calc(50% - 6px);
    border-radius: 20px;
    background: #F4F5F8;
    padding: 20px;
    position: relative;
}

.vkads-make-all-sec__diagram-box-title {
    color: #373737;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.72px;
    line-height: 1;
}

.vkads-make-all-sec__diagram-box-subtitle {
    color: #9D9B9B;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 5px;
    /* 120% */
    letter-spacing: -0.4px;
    opacity: 0.6;
}

.vkads-make-all-sec__diagram-box-img {
    position: absolute;

    img {
        width: 100%;
        display: block;
    }
}

.vkads-make-all-sec__diagram-box--v1 {
    .vkads-make-all-sec__diagram-box-img--v1 {
        width: calc(100% - 40px);
        left: 20px;
        bottom: 10px;
    }
}

.vkads-make-all-sec__diagram-box--v2 {
    .vkads-make-all-sec__diagram-box-img--v1 {
        width: calc(100% - 70px);
        left: 35px;
        bottom: 0;
    }
}

.vkads-make-all-sec__col-3 {
    width: 520px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vkads-make-all-sec__diagram-box--v3 {
    .vkads-make-all-sec__diagram-box-header {
        max-width: 305px;
    }
}


.vkads-make-all-sec__diagram-box--v3 {
    .vkads-make-all-sec__diagram-box-img--v1 {
        width: 250px;
        left: 20px;
        bottom: 20px;
    }

    .vkads-make-all-sec__diagram-box-img--v2 {
        width: 162px;
        right: 32px;
        top: 32px;
    }
}

.vkads-make-all-sec__diagram-box--v4 {
    .vkads-make-all-sec__diagram-box-img--v1 {
        width: 250px;
        left: 110px;
        bottom: 10px;
    }
}

.tgads-make-ads-sec {
    opacity: 1;
    transform: scale(0.8);
    border-radius: 30px;

    .tgads-watch-sec__title {
        background: none;
        color: #fff;
        background-clip: border-box;
        -webkit-background-clip: border-box;
        -webkit-text-fill-color: initial
    }
}

.tgads-make-ads-sec {
    margin-bottom: 20px;

    .tgads-watch-sec__img-wrapper {
        width: 718px;
    }
}

.tgads-watch-sec__down-row-v2 {
    display: flex;
    justify-content: center;
}

.direct-direction-sec__down-el-v2 {
    width: 33.33%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;



    &::before {
        position: absolute;
        content: "";
        width: 1px;
        height: 88px;
        right: 0;
        background: rgba(255, 255, 255, 0.30);
        top: calc(50% - 44px);
    }

    &:last-child {
        &::before {
            opacity: 0;
        }
    }
}

.direct-direction-sec__down-el-title-v2 {
    background: $green1;
    border-radius: 100px;
    width: 77px;
    height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: 1;
    /* 33.333% */
    letter-spacing: -0.6px;
}

.direct-direction-sec__down-el-subtitle-v2 {
    width: 100%;
    display: block;
    color: #979797;

    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.2;
}

.vkads-price-sec {
    .cost-box__bg-wrapper {
        background: linear-gradient(-45deg, #957072, #744B38, #B2C4E4, #2E4951);
        background-size: 400% 400%;

    }
}

.tgads-watch-sec--activ {
    border-radius: 0;
}

.tgads-watch-sec--vk-img-mob {
    display: none;
}


@media only screen and (max-width: 1560px) {
    .tgads-hero-sec__img-wrapper {
        width: calc(100% - 80px);
    }

    .vkads-benefits-sec__img-element--v4 {
        right: -10px;
    }

    .vkads-benefits-sec__img-element--v1 {
        left: -10px;
    }
}

@media only screen and (max-width: 1560px) and (max-height: 840px) {
    .tgads-make-ads-sec {
        .tgads-watch-sec__img-wrapper {
            width: 550px;
        }
    }
}



@media only screen and (max-width: 1250px) {
    .vkads-benefits-sec__container {
        width: 900px;
    }

    .vkads-benefits-sec__info--v1 {
        left: 40px;
    }

    .vkads-make-all-sec__wrapper {
        margin-top: 60px;
    }

    .vkads-make-all-sec__container {
        width: 900px;
    }

    .vkads-make-all-sec__col-2 {
        width: 300px;
    }

    .vkads-make-all-sec__col-3 {
        width: 420px;
    }

    .vkads-make-all-sec__diagram-box--v3 .vkads-make-all-sec__diagram-box-img--v2 {
        width: 110px;
        right: 10px;
        top: 50px;
    }

    .vkads-make-all-sec {
        padding-bottom: 100px;
    }

    .tgads-hero-sec__img {
        max-width: 90%;
    }

    .tgads-hero-sec__img-wrapper {
        width: 900px
    }

    .vkads-benefits-sec__bg-line {
        top: 108px;
        left: 236px;
    }

    .vkads-benefits-sec__info--v2 {
        right: 230px;
    }
}

@media only screen and (max-width: 950px) {
    .tgads-hero-sec__img-wrapper {
        width: 750px
    }

    .vkads-benefits-sec__container {
        width: 750px;
    }

    .vkads-make-all-sec__container {
        width: 750px;
    }

    .tgads-watch-sec__wrapper {
        width: 750px;
        margin: 0 auto;
    }

    .tgads-watch-sec__img-wrapper {
        max-width: 100%;
    }

    .tgads-watch-sec--vk .tgads-watch-sec__img-wrapper {
        max-width: 100%;
    }

    .tgads-hero-sec__title {
        font-size: 36px;
    }

    .tgads-hero-sec--vk_subtitle {
        font-size: 22px;
    }

    .tgads-watch-sec__title {
        line-height: 1;
        font-size: 36px;
    }

    .tgads-watch-sec--vk {
        .tgads-watch-sec__down-row .direct-direction-sec__down-el {
            width: 33.333%;
        }
    }

    .vkads-benefits-sec__info--v2 {
        right: 270px;
    }

    .vkads-benefits-sec__info--v1 {
        left: 25px;
    }

    .vkads-benefits-sec__info--v3 {
        right: 20px;
    }

    .vkads-benefits-sec__img-element--v1 {
        left: 10px;
    }

    .vkads-benefits-sec__img-element--v4 {
        right: 10px;
    }

    .vkads-make-all-sec__title {
        font-size: 36px;
    }

    .vkads-make-all-sec__title-img {
        margin-bottom: -4px;
    }

    .vkads-make-all-sec__col-1 {
        width: 90px;
    }

    .vkads-make-all-sec__human {
        width: 70px;
        height: 70px;
    }

    .vkads-make-all-sec__col-2 {
        width: 250px;
    }

    .vkads-make-all-sec__col-3 {
        width: 390px;
    }

    .vkads-make-all-sec__diagram-box--v3 .vkads-make-all-sec__diagram-box-img--v1 {
        width: 216px;
    }

    .vkads-make-all-sec__diagram-box--v3 .vkads-make-all-sec__diagram-box-img--v2 {
        top: 106px;
    }

    .direct-direction-sec__down-el-v2 {
        width: 33.333%;
    }

    .vkads-make-all-sec__top-row {
        width: 100%;
    }


    .vkads-benefits-sec__bg-line {
        top: 114px;
        left: 208px;
        width: 350px;

        svg {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 750px) {
    .tgads-hero-sec__img-wrapper {
        width: 350px;
    }

    .tgads-watch-sec__wrapper {
        width: 350px;
    }

    .vkads-benefits-sec__container {
        width: 350px;
    }

    .vkads-make-all-sec__container {
        width: 350px;
    }

    .vkads-make-all-sec__wrapper {
        flex-wrap: wrap;
    }

    .tgads-hero-sec__img-wrapper {
        width: calc(100% - 20px);
        overflow: hidden;
        height: 350px;
    }

    .tgads-hero-sec__img {
        height: 100%;
        width: auto;
        max-width: 1000px;
    }

    .tgads-hero-sec__container {
        width: 350px;
        margin-top: 30px;
    }

    .tgads-hero-sec__title {
        font-size: 32px;
        line-height: 1;
    }

    .tgads-hero-sec--vk_subtitle {
        line-height: 1.2;
        font-size: 18px;
        margin-top: 5px;
    }

    .tgads-hero-sec {
        padding-bottom: 30px;

    }

    .tgads-watch-sec__title {
        font-size: 32px;
        line-height: 1.2;
    }

    .tgads-watch-sec__subtitle {
        font-size: 18px;
        line-height: 1.2;
        margin-top: 10px;
    }

    .vkads-benefits-sec__info {
        position: relative;
        left: auto;
        top: auto;
        right: auto;
        bottom: auto;
        width: 100%;
        margin-bottom: 15px;
        min-height: 200px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        flex-wrap: wrap;
    }

    .vkads-benefits-sec__wrapper {
        flex-wrap: wrap;
        background: none;
        height: auto;
        box-shadow: none;
    }

    .vkads-benefits-sec__logo {
        display: none;
    }

    .vkads-benefits-sec {
        padding: 130px 0;
    }

    .vkads-benefits-sec__img-element--v4,
    .vkads-benefits-sec__img-element--v3 {
        display: none;
    }

    .vkads-benefits-sec__img-element--v2 {
        top: -100px;
        right: 0;
        left: auto;
    }

    .vkads-benefits-sec__img-element--v1 {
        left: 0;
        top: auto;
        bottom: -85px;
        z-index: 1;
    }

    .vkads-make-all-sec__title {
        font-size: 28px;
    }

    .vkads-make-all-sec__title-img {

        width: 100px;
        height: 26px;
    }

    .vkads-make-all-sec__subtitle {
        font-size: 18px;
        margin-top: 10px;
    }

    .vkads-make-all-sec__wrapper {
        margin-top: 40px;
        flex-wrap: wrap;
        height: auto;
    }

    .vkads-make-all-sec__col-1 {
        width: 100%;
        margin-bottom: 15px;
    }

    .vkads-make-all-sec__humans-wrapper-col {
        height: auto;
        display: flex;
        justify-content: center;
        height: auto;

    }

    .vkads-make-all-sec__human {
        margin: 0 4px;
        width: 50px;
        height: 50px;
    }

    .vkads-make-all-sec__humans-wrapper {
        padding: 10px;
    }

    .vkads-make-all-sec__col-2 {
        width: 100%;
        height: auto;
        display: block;
    }

    .vkads-make-all-sec__diagram-box {
        width: 100%;
        height: 190px;
        margin-bottom: 15px;
        padding: 15px;
    }

    .vkads-make-all-sec__diagram-box--v1 .vkads-make-all-sec__diagram-box-img--v1 {
        width: 230px;
        left: calc(50% - 115px);
    }

    .vkads-make-all-sec__diagram-box-title {
        font-size: 18px;
    }

    .vkads-make-all-sec__diagram-box-subtitle {
        font-size: 11px;
        line-height: 1.2;
    }

    .vkads-make-all-sec__diagram-box--v2 .vkads-make-all-sec__diagram-box-img--v1 {
        width: 230px;
        left: calc(50% - 115px);
    }

    .vkads-make-all-sec__diagram-box--v3 {
        height: 200px;
    }

    .vkads-make-all-sec__diagram-box--v3 .vkads-make-all-sec__diagram-box-header {
        max-width: 200px;
    }

    .vkads-make-all-sec__diagram-box--v3 .vkads-make-all-sec__diagram-box-img--v2 {
        top: 10px;
    }

    .vkads-make-all-sec__diagram-box--v3 .vkads-make-all-sec__diagram-box-img--v1 {
        width: 180px;
        left: 15px;
        bottom: 15px;
    }

    .vkads-make-all-sec__diagram-box--v4 .vkads-make-all-sec__diagram-box-img--v1 {
        width: 200px;
        left: calc(50% - 100px);
    }

    .vkads-make-all-sec {
        padding-bottom: 50px;
    }

    .direct-direction-sec__down-el-title-v2 {
        width: 70px;
        height: 70px;
    }

    .tgads-watch-sec__down-row-v2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .direct-direction-sec__down-el-v2 {
        width: 50%;
        border: none;
        margin-bottom: 20px;

        &::before {
            opacity: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .direct-direction-sec__down-el-subtitle-v2 {
        font-size: 11px;
    }

    .vkads-benefits-sec__bg-line {
        display: none;
    }

    .tgads-watch-sec--vk-img {
        display: none;
    }

    .tgads-watch-sec--vk-img-mob {
        display: block;
        width: 300px;
        margin: 0 auto;
    }

    .tgads-watch-sec--vk .tgads-watch-sec__down-row .direct-direction-sec__down-el {
        width: 50%;

        .direct-direction-sec__down-el-title {
            font-size: 34px;
        }
    }

    .tgads-watch-sec--vk {
        .tgads-watch-sec__title {
            font-size: 25px;
        }

        .tgads-watch-sec__subtitle {
            font-size: 16px;
        }
    }
}